#accordion-matos {
  margin-top: 50px;
  .panel {
    margin: 0 0 10px 0;
    border: none;
    border-radius: $r-sm;
    box-shadow: none;
    &:last-child {
      margin: 0;
    }
  }
  .card-header {
    padding: 0;
    margin: 0;
  }
  .mb-0 {
    margin: 0;
  }
  button {
    width: 100%;
    padding: 10px 0;
    background-color: $yellow;
    text-decoration: none;
    color: $blue;
  }
  button.collapsed {
    background-color: white;
    &:hover {
      background-color: $yellow;
      text-decoration: none;
      color: $blue;
    }
  }
  .card-body {
    padding: 20px;
  }
}
