#ambiances-communaute-enfantine,
#ambiances-maison-enfants,
#ambiances-classe-elementaire {
  h2 {
    margin-bottom: 10px;
  }
  .title {
    margin-bottom: 40px;
  }
  .box {
    padding: 10px 20px;
  }
  .daylist-item {
    padding: 5px 0;
  }
}
#ambiances-communaute-enfantine,
#ambiances-classe-elementaire {
  .box {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
#ambiances-maison-enfants {
  .box {
    background-color: white;
  }
}
#ambiances-classe-elementaire {
  .opening-date {
    margin-top: 30px;
  }
}
@media screen and (max-width: 520px) {
  #ambiances-communaute-enfantine,
  #ambiances-maison-enfants,
  #ambiances-classe-elementaire {
    .daylist-item {
      flex-direction: column;
      justify-content: center;
      .hours {
        font-weight: 600;
      }
    }
  }
}
