.dash-info {
  flex: 1 0 auto
}
.dash-subcription {
  box-shadow: 3px 3px 5px rgb(200,200,200);
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  .dash-subcription-childNoValid {
    h4 {
      margin-top: 12.5px;
    }
  }
}
.sub {
  position: relative;
  .sub-info{
    position: absolute;
    top: 0;
    right: 0;
  }
}
.separate {
  border-bottom:1px solid #c8d2db
}
