#home-head {
  width: 100%;
  padding: 150px 0 170px 0;
}
.home-title,
.home-img,
.home-text,
.home-link {
  width: 100%;
}
.home-title {
  h1 {
    margin: 0;
  }
  h1 {
    font-size: 45px;
    font-weight: 600;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 0 0;
  }
}
.home-subtitle {
  margin-top: 10px;
  svg {
    margin: 0 10px;
  }
}
.home-img {
  margin-top: 30px;
}
.home-text {
  p {
    width: 370px;
  }
}
.home-link {
  margin-top: 10px;
  button {
    width: 200px;
  }
}
#home-desc {
  // span {
  //   display: block;
  // }
}
#home-video {
  h2 {
    // margin-bottom: 5px;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  iframe {
    border-radius: $r-lg;
  }
}
//Home image responsive
@media screen and (max-width: 375px) {
  #accueil {
    width: 100%;
  }
}
