#home-head {
  width: 100%;
  padding: 160px 0 230px 0;
}
.home-title,
.home-img,
.home-text,
.home-link {
  width: 100%;
}
.home-title {
  h1, h3 {
    margin: 0;
  }
  h1 {
    font-size: 45px;
    font-weight: 600;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
  }
}
.home-img {
  margin-top: 30px;
}
.home-text {
  p {
    width: 370px;
  }
}
.home-link {
  margin-top: 10px;
  button {
    width: 200px;
  }
}
#home-tabs {
  margin-top: -80px;
  span {
    display: block;
  }
}
#home-infos {
  height: 200px;
}
@media screen and (max-width: 375px) {
  #accueil {
    width: 100%;
  }
}
