.information-timetable-day, .information-timetable-hours {
  margin: 0 2% 0 2%;
  width: 46%;
}

.information-restaurant, .information-workshop, .information-nursery {
  padding: 10px 50px 10px 50px;
  text-align: center;
}
