#pedagogie {
  h1 {
    margin-bottom: 50px;
  }
  .button-link {
    padding: 24px 30px;
    width: 100%;
    border-radius: $r-lg;
    background-color: $yellow;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h3, p {
      color: $blue;
    }
  }
  a:hover .button-link {
    background-color: $blue;
    h3, p {
      color: $light-gray;
    }
  }
}
#pedagogie-environement,
#pedagogie-materiel {
  ul {
    list-style: none;
    padding: 0;
    margin-top: 5px;
  }
  li {
    padding: 8px 0;
    text-align: left;
    border-top: 1px solid $light-blue;
  }
}
#pedagogie-materiel {
  h2 {
    margin-bottom: 10px;
  }
  .citation {
    margin-bottom: 30px;
  }
  .author {
    padding-left: 50%;
    margin-left: -100px;
    font-style: italic;
  }
}
