#pedagogie-approche {
  h2 {
    margin-bottom: 50px;
  }
  h3 {
    margin-bottom: 10px;
    font-weight: 600;
  }
  #accordion-pedagogie {
    margin-top: 50px;
    .panel {
      margin: 0 0 10px 0;
      border-radius: $r-sm;
      box-shadow: none;
      background-color: rgba(255, 255, 255, 0.5);
      &:last-child {
        margin: 0;
      }
    }
    .card-header {
      padding: 0;
      margin: 0;
    }
    .mb-0 {
      margin: 0;
    }
    button {
      width: 100%;
      padding: 10px 0;
      background-color: $yellow;
      border: 1px solid $yellow;
      text-decoration: none;
      color: $blue;
      border-radius: $r-sm $r-sm 0 0;
    }
    button.collapsed {
      border-color: $light-blue;
      background-color: transparent;
      border-radius: $r-sm;
      &:hover {
        background-color: $yellow;
        border-color: $yellow;
        text-decoration: none;
        color: $blue;
        border-radius: $r-sm;
      }
    }
    .card-body {
      background-color: transparent;
      padding: 20px;
      border-left: 1px solid $light-blue;
      border-right: 1px solid $light-blue;
      border-bottom: 1px solid $light-blue;
      border-radius: 0 0 $r-sm $r-sm;
    }
  }
}
#pedagogie-staff {
  h2 {
    margin-bottom: 5px;
  }
  h3 {
    margin-bottom: 40px;
  }
  p {
    margin-bottom: 20px;
  }
  .staf-cards-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .staf-card {
    width: 140px;
    background-color: $yellow;
    color: $blue;
    border-radius: $r-lg;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    img {
      width: 180px;
      margin-left: -35px;
    }
  }
  .staf-desc {

  }
  .staf-role p {
    font-size: 15px;
  }
}
#pedagogie-relation {
  .pedagogie-relation-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    h2 {
      display: inline;
      margin: 0 6px;
    }
  }
}
#pedagogie-more {
  h1 {
    margin-bottom: 50px;
  }
  .button-link {
    padding: 10px 25px;
    width: 100%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid $light-blue;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h3 {
      color: $blue;
    }
  }
  a:hover .button-link {
    background-color: $yellow;
    border-color: $yellow;
  }
  a:focus {
    text-decoration: none;
    outline: none;
    border: none;
    color: $blue;
  }
}
