#pm-head {
  h1 {
    margin: 0 0 30px 0;
  }
}
#pm-tabs {
  margin-top: 30px;
  height: 52px;
  .nav-item,
  .nav-link {
    width: 64px;
    height: 32px;
  }
  .tab-extension {
    width: 64px;
    top: 32px;
  }
  .nav-item p {
    margin-top: 16px;
  }
}
.pm-principles {
  padding: 30px;
  border-radius: $r-md;
}
#mm-pedagogie,
#mm-heritage {
  ul {
    margin-top: 5px;
  }
}
#mm-link .btn-back {
  margin-top: 0;
}
