.school-price-tabs {
  padding: 20px;
  border-radius: $border-radius-large;
  margin: 0 30px
}
.school-prices {
  padding: 20px;
  border-radius: $border-radius-large;
}
.school-price-label {
  background: $blue;
  color: $light-gray;
  padding: 10px 20px;
  border-radius: 0 0 20px 20px;
  margin-bottom: 50px;
}
.other-prices{
  margin-bottom: 50px;
  border-radius: $border-radius-large;
}
.tarif-modality {
  padding: 20px;
}
