#new-child,
#new-parent,
#more-info,
#second-form {
  h2 {
    margin: 0;
    text-align: center;
  }
  label {
    font-weight: normal;
  }
  hr {
    margin-top: 10px;
  }
  .control-label {
    width: 100%;
  }
  .child_no_valid_gender,
  .child_no_valid_montessori_before,
  .child_no_valid_workshop,
  .child_no_valid_nursery,
  .second_form_nursery,
  .second_form_workshop,
  .second_form_canteen {
    margin: 0;
    span {
      display: none;
    }
  }
  .child-gender,
  .montessori-before,
  .workshop,
  .nursery,
  .canteen {
    margin-bottom: 15px;
    button {
      background-color: $light-gray;
      height: 39px;
      color: $blue;
      background-image: image-url("backgrounds/texture.svg");
      background-size: 2%;
      background-position: center;
    }
    button.selected,
    button:hover {
      background-color: $yellow;
      background-image: none;
      color: $blue;
    }
  }
  .child_no_valid_birth_date .form-inline,
  .child_no_valid_start_date .form-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    select {
      flex-grow: 1;
    }
    #child_no_valid_birth_date_2i,
    #child_no_valid_start_date_2i {
      margin: 0 5px;
    }
  }
  .child_no_valid_comment {
    input {
      min-height: 100px;
    }
  }
}
#more-info,
#subscription-success,
#inscription-success {
  min-height: calc(100vh - 140px);
}
#subscription-success {
  h1, h3 {
    margin: 0;
  }
  .success-title {
    margin-top: 25%;
  }
  .success-text {
    margin-top: 30px;
  }
  button {
    margin-top: 50px;
  }
}
#second-form {
  button.border {
    border-top: 1px solid $light-blue;
  }
  button:hover,
  button.selected {
    border: none;
  }
}
