<div id="user-dashboard" class="wrapper user-wrapper dots">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= link_to "Voir les préinscription", subscriptions_dashboard_path %>
      </div>
    </div>
  </div>
</div>

