<div id="main-dashboard" class="wrapper user-wrapper dots">

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <%= link_to subscriptions_dashboard_path do %>
      <div class="main-dashboard-link flex-center-space-around">
        <h3>Pré-inscription</h3>
      </div>
    <% end %>
  </div>

</div>

