<nav id="admin-nav-container" class="col-xs-2 texture">
  <h3>Espace Admin</h3>
  <hr>
  <%= link_to dashboard_path, class: "admin-link flex-center-start #{current_class?(dashboard_path)}" do %>
    <p>Inscriptions</p>
  <% end %>

</nav>
