<div id="footer" class="flex-center-space-between footer">
  <div class="footer-title text-left">
    <p>Les petites graines - École Motessori à Montrouge depuis 2018</p>
  </div>

  <div class="footer-links flex-center-space-between">
    <div class="footer-link">
      <%= link_to "Nous contacter" %>
      <%= link_to "Nous rejoindre" %>
    </div>
    <div class="footer-social-network">
      <%= link_to "#" do %>
        <%= inline_svg "fb.svg", size: "35px * 35px", class: 'icon' %>
      <% end %>
    </div>
  </div>
</div>
