<div id="footer" class="flex-center-space-between footer">
    <div class="footer-title text-center">
      <p>Les petites graines - École Motessori à Montrouge depuis 2018</p>
    </div>
    <div class="footer-links flex-center-space-between">
      <div class="footer-link flex-center-space-between">
        <%= link_to "Nous contacter" %>
        <%= link_to "Nous rejoindre" %>
      </div>
      <div class="footer-social-network">
         <%= inline_svg "Vector.svg", size: "35px * 35px", class: 'some-class' %>
      </div>
    </div>
</div>
