<nav id="user-nav-container" class="texture">
  <%= link_to admin_path, class: "admin-link flex-center-start #{current_class?(admin_path)}" do %>
    <h3>Espace Admin</h3>
  <% end %>
  <%= link_to subscriptions_dashboard_path, class: "user-link flex-center-start #{current_class?(subscriptions_dashboard_path)}" do %>
    <p>Inscriptions</p>
  <% end %>

</nav>
