<nav id="user-nav-container" class="texture">
  <%= link_to main_dashboard_path, class: "admin-link flex-center-start #{current_class?(main_dashboard_path)}" do %>
    <h3>Espace Admin</h3>
  <% end %>
  <%= link_to subscriptions_dashboard_path, class: "user-link flex-center-start #{current_class?(subscriptions_dashboard_path)}" do %>
    <p>Inscriptions</p>
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete, class: "bottom-link flex-center-start #{current_class?(subscriptions_dashboard_path)}" do %>
    <button class="btn btn-danger btn-block">Déconnexion</button>
  <% end %>
</nav>
