<div class="wrapper leaf" id="montessori-environement">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <h2>L'environnement préparé</h2>

          <p>
            Une des caractéristiques de la pédagogie Montessori est celle d’un environnement préparé et adapté aux particularités et aux besoins de l’enfant. Celui-ci se doit d’être ordonné, l’enfant doit s’y sentir en sécurité, autonome et libre.
            <br>
            <br>
            <p class="text-left">L’environnement préparé doit répondre à plusieurs caractéristiques :</span>
          </p>
          <ul>
            <li>
              • <span class="bold">Le mélange des âges</span> dans la même ambiance. Il permet la diffusion des connaissances et l'entraide; c'est la création d'une microsociété dans laquelle vont se créer des forts liens sociaux
            </li>
            <li>• Un <span class="bold">éducateur diplômé AMI</span></li>
            <li>• Un jeu de <span class="bold">matériel</span> pédagogique complet</li>
            <li>• Un temps d’activité <span class="bold">suffisamment long</span> (2h30)</li>
            <li>• Le <span class="bold">respect du rythme de chacun et le respect des autres</span></li>
            <li>
              • <span class="bold">La liberté et le libre choix de son activité</span>; cette liberté est associée à des règles
            </li>
          </ul>
       </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper background-light-gray" id="montessori-materiel">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <h2>Le matériel pédagogique</h2>
          <div class="citation">
            <h3>«La main est l’outil de l’esprit»</h3>
            <span class="author">Maria Montessori</span>
          </div>
          <p>
            Maria Montessori a développé un matériel pédagogique spécifique, à partir duquel l’enfant construit son savoir, dans différents domaines. Elaboré scientifiquement, il est adapté à la taille et à la force de l’enfant. Le matériel stimule et canalise la curiosité innée de l’enfant.
            <br>
            <br>
            Chaque ambiance dispose d’un jeu complet de matériel adapté à son niveau et réparti en plusieurs aires :
          </p>
          <ul>
            <li>• La Vie Pratique</li>
            <li>• Le Sensoriel</li>
            <li>• Les Mathématiques (unités de mesures et géométrie)</li>
            <li>• Le Langage</li>
            <li>
              • La Culture (géographie, botanique, anatomie, règne animal, histoire, les expériences scientifiques, etc...)
            </li>
            <li>• La Musique et l'Art</li>
          </ul>

          <p style="margin-top: 30px;">
            Un coin lecture se trouve également dans chaque ambiance.
          </p>

          <div id="accordion-matos">
            <div class="panel">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <h4>Du concret vers l’abstrait</h4>
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-matos">
                <div class="card-body">
                  <p>
                    L'enfant apprend manuellement à l'aide d'un matériel concret. Cette exploration sensorielle l’amène progressivement, par l'affinement des sens et l'intériorisation des actions, à la capacité d'abstraction et la pensée logique. Il imprègne des concepts de façon concrète, qui l’aideront à cheminer vers l’abstraction.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h4>Difficultés isolées</h4>
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-matos">
                <div class="card-body">
                  <p>
                    Chaque objet constitue, en soi, un élément d'apprentissage et  permet à l’enfant d’apprendre une notion fondamentale. Chaque matériel isole une qualité, c'est-à-dire une seule difficulté sur laquelle travailler (forme, couleur, dimension…). Ainsi, l’apprentissage est progressif et durable.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h4>Expérience sensorielle</h4>
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-matos">
                <div class="card-body">
                  <p>
                    La  méthode d'apprentissage est concrète et sensorielle. L’enfant absorbe les impressions qui résultent de cette exploration. Le travail accompli avec ses mains permet à l'enfant de fixer son attention et de développer sa concentration. Le matériel développe la maîtrise des mouvements et la motricité fine.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <h4>Autocorrectif</h4>
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion-matos">
                <div class="card-body">
                  <p>
                    Le matériel Montessori a une fonction auto-correctrice. Personne ne juge le résultat de l'enfant, et ce dernier progresse en le manipulant. Il permet ainsi le développement de l’autonomie de l’enfant et évite le sentiment d’échec.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <h4>Le libre-choix et la répétition de l’exercice</h4>
                  </button>
                </h5>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion-matos">
                <div class="card-body">
                  <p>
                    Le matériel est choisi librement par l’enfant, autant de fois qu’il le souhaite. Ainsi  l’enfant travaille pour son plaisir et son besoin de comprendre. C’est par la répétition que l’enfant affine ses gestes et se construit.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <h4>Attractif</h4>
                  </button>
                </h5>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion-matos">
                <div class="card-body">
                  <p>
                    Le matériel est attrayant pour susciter l'activité, rangé de manière ordonnée (afin de répondre au besoin d'ordre et de structure de l'enfant) et en exemplaire unique (pour favoriser la patience).
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="card-header" id="headingSeven">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    <h4>Agrée par l’AMI</h4>
                  </button>
                </h5>
              </div>
              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion-matos">
                <div class="card-body">
                  <p>
                    Agrée par l’AMI, le matériel est conforme aux normes européennes de qualité et d’environnement.
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper leaf" id="pm-link">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <div class="text-center">
          <h2>Le rôle de l'éducateur</h2>
          <p>
            L’éducateur fait le lien entre l’environnement et l’enfant. Il interagit  avec l’enfant, le guide dans ses apprentissages et lui permet de vivre ses propres expériences.
            <br>
            <br>
            Il intervient  avec justesse et discrétion, développant ainsi la confiance de l’enfant en ses capacités, et ce dans une atmosphère sereine, bienveillante et respectueuse.
            <br>
            <br>
            Grâce à une observation fine et régulière, l’éducateur détecte les périodes sensibles de chaque enfant et les besoins associés. Il va ainsi accompagner l’enfant à enrichir son potentiel tel un guide et non comme un maître. Il lui présente chacun des matériels, de façon individuelle, lui accordant une attention personnalisée et optimale.
          </p>
        </div>

        <div class="flex-center-center">
          <%= link_to pedagogie_path do %>
            <button class="btn btn-primary btn-back">Retour</button>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
