<div class="wrapper background-light-gray" id="pedagogie-materiel">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <h2>L'environnement préparé</h2>

          <p>
            Une des caractéristiques de la pédagogie Montessori est celle d’un environnement préparé et adapté aux particularités et aux besoins de l’enfant. Celui-ci se doit d’être ordonné, l’enfant doit s’y sentir en sécurité, autonome et libre.
            <br>
            <br>
            <p class="text-left">L’environnement préparé doit répondre à plusieurs caractéristiques :</span>
          </p>
          <ul>
            <li>
              • <span class="bold">Le mélange des âges</span> dans la même ambiance. Il permet la diffusion des connaissances et l'entraide; c'est la création d'une microsociété dans laquelle vont se créer des forts liens sociaux
            </li>
            <li>• Un <span class="bold">éducateur diplômé AMI</span></li>
            <li>• Un jeu de <span class="bold">matériel</span> pédagogique complet</li>
            <li>• Un temps d’activité <span class="bold">suffisamment long</span> (2h30)</li>
            <li>• Le <span class="bold">respect du rythme de chacun et le respect des autres</span></li>
            <li>
              • <span class="bold">La liberté et le libre choix de son activité</span>; cette liberté est associée à des règles
            </li>
          </ul>
       </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper" id="pedagogie-materiel">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <h2>Le matériel pédagogique</h2>
          <div class="citation">
            <h3>« La main est l’outil de l’esprit »</h3>
            <span class="author">Maria Montessori</span>
          </div>
          <p>
            Maria Montessori a développé un matériel pédagogique spécifique, à partir duquel l’enfant construit son savoir, dans différents domaines. Elaboré scientifiquement, il est adapté à la taille et à la force de l’enfant. Le matériel stimule et canalise la curiosité innée de l’enfant.
            <br>
            <br>
            Chaque ambiance dispose d’un jeu complet de matériel adapté à son niveau et réparti en plusieurs aires :
          </p>
          <ul>
            <li>La Vie Pratique</li>
            <li>Le Sensoriel</li>
            <li>Les Mathématiques (unités de mesures et géométrie)</li>
            <li>Le Langage</li>
            <li>
              La Culture (géographie, botanique, anatomie, règne animal, histoire, les expériences scientifiques, etc...)
            </li>
            <li>La Musique et l'Art</li>
          </ul>

          <p style="margin-top: 30px;">
            Un coin lecture se trouve également dans chaque ambiance.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper leaf" id="pm-link">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <div class="flex-center-center">
          <%= link_to pedagogie_path do %>
            <button class="btn btn-primary btn-back">Retour</button>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
