<div class="wrapper leaf" id="home-head">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <div class="text-center">
          <div class="home-title">
            <h1 class="text-center">Les petites graines</h1>
            <h3 class="text-center">École Montessori bilingue</h3>
            <div class="home-subtitle flex-center-center">
              <%= inline_svg "france.svg", size: '40px', class: 'flag'%>
              <%= inline_svg "england.svg", size: '40px', class: 'flag'%>
            </div>
          </div>
          <div class="home-img flex-center-center">
            <%= image_tag "img_accueil.png", id: "accueil" %>
          </div>
          <div class="home-text flex-center-center">
            <p>Offrez à votre enfant un environnement adapté qui stimule l’apprentissage et l’autonomie.</p>
          </div>
          <div class="home-link flex-center-center">
            <%= link_to new_subscription_path(@subscription) do %>
              <button class="btn btn-primary">Inscription</button>
            <% end %>
          </div>
        </div>

        <%#= link_to "dashboard",dashboard_path %>

      </div>
    </div>
  </div>
</div>

<div class="wrapper background-light-gray" id="home-desc">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <h2 class="text-center">L'École</h2>

        <p class="text-center">
          L’école Montessori Les Petites Graines est située à Montrouge dans les Hauts-de-Seine (92) et accueille les enfants de 2 à 9 ans. Entièrement rénovée, elle offre un cadre agréable et épuré, spécialement pensé pour être confortable, fonctionnel et adapté à l’âge des enfants.
        </p>

      </div>
    </div>
  </div>
</div>

<div class="wrapper dots" id="home-video">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <h2 class="text-center">Le maître est l'enfant</h2>

        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/M0Qcc9eMz6Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <p class="text-center">
          <i>Film d'Alexandre Mourot tourné à l'école Jeanne d’Arc de Roubaix - 2017</i>
        </p>

      </div>
    </div>
  </div>
</div>
