<div class="wrapper" id="informations-timetable">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="information-timetable-title flex-center-center">
          <h2> Les Horaires</h2>
        </div>
        <div class="information-timetable flex-center-center">
          <div class="information-timetable-day flex-right-space-around-column">

            <p>Lundi, mardi, jeudi, vendredi</p>
            <p>Ateliers du mercredi</p>
            <p>Garderie</p>
          </div>
          <div class="information-timetable-hours flex-left-space-around-column">
            <p>8h30 – 16h30</p>
            <p>8h30 – 16h00</p>
            <p>8h-9h30 et 16h30-18h30</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper background-light-gray" id="home-infos">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="information-calendar-title flex-center-center">
          <h2> Le Calendrier scolaire </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper" id="information-canteen  ">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
         <div class="information-restaurant-title flex-center-center">
          <h2> La Restauration </h2>
        </div>
        <div class="information-restaurant flex-center-space-around-column ">
          <p>Nous proposons à tous les enfants de l’école, un repas équilibré et varié, partiellement bio, livré tous les jours par notre partenaire traiteur et chauffé au sein de l’école.
          </p>
          <p> Pour les enfants qui suivent un régime alimentaire particulier (allergies, religion...), nous demandons aux parents de fournir une lunchbox.</p>
          <p>Si vous souhaitez que votre/vos enfant(s) déjeunent à l'extérieur de l'établissement, ils peuvent quitter l'école à 11h45 et revenir à 12h30.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper background-light-gray" id="information-workshop">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="information-workshop-title flex-center-center">
          <h2> L’atelier du mercredi </h2>
        </div>
          <div class="information-workshop flex-center-space-around-column ">
          <p> Les Ateliers du Mercredi accueillent les enfants de 8h30 à 16h tous les mercredis (hors vacances scolaires Zone C).Ces ateliers sont ouverts aussi bien aux enfants scolarisés dans notre établissement qu’aux externes et cela quelle que soit leur langue maternelle.
          </p>
          <p> De nombreuses activités sont proposées : <br>
            Cours de Yoga - Peinture  - Cuisine / Pâtisserie <br>
            Arts plastiques - Danse - Eveil musical - Etc.</p>
          <p>Pour toute inscription, merci de nous contacter à
            contact@lespetitesgraines.fr</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper" id="information-nursery">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="information-nursery flex-center-center">
          <h2> La garderie</h2>
        </div>
        <div class="information-nursery flex-center-space-around-column ">
          <p>L’école vous offre la possibilité d’accueillir vos enfants le lundi, le mardi, le jeudi et le vendredi des périodes scolaires de 8h à 8h30 et de 16h30 à 18h30.</p>
          <p>  Pour la garderie de l’après-midi, les parents doivent fournir un goûter pour leur enfant.</p>
          <p> Inscrire votre/vos enfant(s) à la garderie est une option
          que vous pouvez choisir lors de la procédure d’inscription à l’école.</p>
        </div>
      </div>
    </div>
  </div>
</div>
