<div class="wrapper leaf" id="mm-head">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h2 class="text-center">Maria Montessori</h2>
        <p class="text-center">(Italie 1870 – Pays-Bas 1952)</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper background-light-gray" id="mm_eloge">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <h2>Brillante, Engagée et Précurseur</h2>
          <p>
            Initialement passionnée par les mathématiques et la biologie, Maria Montessori devient à 26 ans la première femme médecin d’Italie, malgré nombre d’hostilités rencontrées.Elle s’engage alors pour les marginaux de la société et milite pour la défense et la reconnaissance des droits des femmes, ainsi que des enfants déficients mentaux.
            <br>
            <br>
            Tout en travaillant avec des enfants handicapés, elle poursuit ses recherches, qui l’amènent à approfondir les travaux des médecins français ITARD et SEGUIN, lesquels ont élaboré des méthodes éducatives pour les enfants  déficients. Maria en vient à la conclusion que l’éducation est plus bénéfique à ces enfants que les uniques soins médicaux. Cette expérience lui permet de poser les fondations de son oeuvre : une pédagogie favorisant le bon développement de l’enfant. Maria s’engage complètementdans ce projet et les enfants de cette école, classés parmi les « fous »,se développent de façon inattendue.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper triangles" id="mm-pedagogie">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <h2>La naissance d’une pédagogie</h2>
          <p>
            Au fur et à mesure de son travail avec ces enfants, elle se rend compte qu’ils sont tout à fait capables d’apprendre, comme tous les enfants. Elle commence à développer un matériel adapté. Au grand étonnement des spécialistes de l’époque, ces enfants apprennent même à lire, alors qu’on les en croyait incapables. Maria décide donc de les inscrire au Certificat d’Etudes. Le jour de l’examen, aucune faveur n’est accordée aux enfants, qui sont pointés du doigt et moqués. A la stupeur générale, les élèves de Maria Montessori réussissent leur examen, avec en moyenne de meilleurs résultats que les enfants « normaux ».
            <br><br>
            Maria s’intéresse alors aux enfants dits « normaux », entreprend des études de psychologie et de philosophie, puis développe sa méthode pédagogique, dans la continuité des travaux d’Itard et Seguin.
            <br>
            <br>
            En 1907, elle ouvre la première Maison des Enfants à Rome (la Casa dei Bambini) à la demande du Maire qui souhaite créer un lieu d’accueil pour les enfants défavorisés. Cette première école est pour Maria un laboratoire de recherche lui permettant d’observer et d’analyser l’enfant et ses comportements. Elle y découvre des phénomènes très importants à la base du développement de l’enfant :
            <br>
            - Les périodes sensibles
            <br>
            - L’esprit absorbantbr
            <br>
            - Une grande capacité d’attention et de concentration
            <br>
            - Le besoin d’autonomie
            <br>
            - L’amour pour la répétition et l’ordre
            <br>
            <br>
            Elle profite de cette expérience pour élaborer son matériel pédagogique. Elle observe enfin que les enfants n’ont ni besoin de récompenses, ni de punitions, qu’ils ont le sens de leur dignité personnelle et qu’ils aiment le silence. Maria Montessori déclare avoir découvert un enfant nouveau, qui révèle sa vraie nature: sa méthode est la découverte de l’Enfant et de sa vie psychique !
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="wrapper background-light-gray" id="mm-reconnaissance">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
        <h2>Une Reconnaissance Internationale</h2>
        <p>
          Les progrès des enfants sont si probants que le monde entier commence à s’intéresser à la « méthode » Montessori. Elle donne alors des conférences pour promouvoir sa vision de l’éducation. Elle forme des milliers d’éducateurs et écrit des ouvrages expliquant sa philosophie. De nombreuses écoles vont peu à peu ouvrir à travers le monde.
          <br>
          <br>
          En 1929, elle crée l’Association Montessori Internationale (AMI), relayée par plusieurs associations nationales comme l’Association Montessori de France.
          <br>
          <br>
          Reconnue comme l’une des plus grandes spécialistes en matière d’éducation, ses travaux ont été parmi les plus influents du 20ème siècle dans le monde entier. Elle fut à ce titre honorée par les institutions de nombreux pays, comme la France qui lui remit la Légion d’Honneur. Elle fut également nommée à trois reprises pour le Prix Nobel de la Paix,sans jamais le recevoir.
          <br>
          <br>
          Aujourd’hui, il existe plus de 20 000 écoles à travers le monde, dont une centaine seulement en France.
      </p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper dots" id="mm-idealiste">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
        <h2>Idéaliste et Humaniste</h2>
        <p>
          Profondément humaniste, Maria Montessori voulait que les enfants s’épanouissent et deviennent les artisans d’un monde meilleur. Maria Montessori voyait en l’éducation un moyen d’élever l’humanité, d’oeuvrer pour la paix dans le monde, car c’est selon elle la meilleure arme pour le rendre meilleur. En considérant fondamentalement l’enfant autrement, comme un être qui a ses besoins propres, qui est en devenir, et qui porte en lui toutes les possibilités d’Humanité. C’est ce qu’elle appellera la Nouvelle éducation : l’Education comme une aide à la vie.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="wrapper background-light-gray" id="mm-heritage">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
        <h2> Un héritage éducatif mondial</h2>
        <p>
          A sa mort en 1952, Maria Montessori laisse derrière elle un immense héritage :
          <br>
          - une philosophie de vie,
          <br>
          - une approche éducative unique,
          <br>
          - du matériel d’auto-apprentissage
          <br>
          - un système de formation des maîtres
        </p>
      </div>
    </div>
  </div>
</div>
<div class="wrapper hideout" id="mm-link">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <div class="flex-center-center">
          <%= link_to pedagogie_path do %>
            <button class="btn btn-primary">Retour</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

