<div class="wrapper leaf" id="prog-communaute-enfantine">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="text-center">

          <h2>La Communauté Enfantine</h2>

          <div class="citation">
            <h3>2 à 3 ans</h3>
          </div>

          <ul>
            <li>• Deux éducatrices diplômées AMI (Association Montessori Internationale), l’une francophone et l’autre anglophone</li>
            <li>• Mélange des âges (une dizaine d’enfants de 2 à 3 ans)</li>
            <li>• Un jeu de matériel Montessori</li>
          </ul>

          <div class="daylist-title">
            <h3>Journée Type</h3>
          </div>

          <div class="box">
            <div class="daylist-item flex-center-space-between">
              <p class="hours">08h30 – 09h00</p>
              <p>Accueil des enfants</p>
            </div>
            <div class="daylist-item flex-center-space-between border">
              <p class="hours">09h00 – 11h00</p>
              <p>Travail libre, encas à disposition</p>
            </div>
            <div class="daylist-item flex-center-space-between border">
              <p class="hours">11h00 – 12h00</p>
              <p>Sortie au parc et préparation du déjeuner</p>
            </div>
            <div class="daylist-item flex-center-space-between border">
              <p class="hours">12h00 – 13h00</p>
              <p>Déjeuner</p>
            </div>
            <div class="daylist-item flex-center-space-between border">
              <p class="hours">12h30 – 14h00</p>
              <p>Sieste</p>
            </div>
            <div class="daylist-item flex-center-space-between border">
              <p class="hours">14h00 – 16h30</p>
              <p>Travail libre</p>
            </div>
            <div class="daylist-item flex-center-space-between border">
              <p class="hours">16h30 – 16h35</p>
              <p>Départ des enfants</p>
            </div>
          </div>

          <!-- <ul>
            <li>08h30 – 09h00 : Accueil des enfants</li>
            <li>09h00 – 11h00 : Travail libre, encas à disposition</li>
            <li>11h00 – 12h00 : Sortie au parc et préparation du déjeuner</li>
            <li>12h00 – 13h00 : Déjeuner</li>
            <li>12h30 – 14h00 : Sieste</li>
            <li>14h00 – 16h30 : Travail libre</li>
            <li>16h30 – 16h35 : Départ des enfants</li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper background-light-gray" id="prog-maison-enfants">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="text-center">

          <h2>La Maison des Enfants </h2>

          <div class="citation">
            <h3>3 à 6 ans</h3>
          </div>

          <ul>
            <li>• Deux éducatrices diplômées AMI (Association Montessori Internationale), l’une francophone et l’autre anglophone, encadrent une vingtaine d’enfants de 3 à 6 ans</li>
            <li>• Mélange des âges (une vingtaine d’enfants de 3 à 6 ans)</li>
            <li>• Un jeu de matériel Montessori</li>
          </ul>

          <div class="daylist-title">
            <h3>Journée Type</h3>
          </div>

          <div class="box">
            <div class="daylist-item flex-center-space-between">
              <p class="hours">08h30 – 08h45</p>
              <p>Accueil des enfants</p>
            </div>
            <div class="daylist-item flex-center-space-between border">
              <p class="hours">08h45 – 11h35</p>
              <p>Travail libre, encas à disposition</p>
            </div>
            <div class="daylist-item flex-center-space-between border">
              <p class="hours">11h30 – 12h00</p>
              <p>Sortie au parc et préparation du déjeuner</p>
            </div>
            <div class="daylist-item flex-center-space-between border">
              <p class="hours">12h00 – 13h00</p>
              <p>Déjeuner</p>
            </div>
            <div class="daylist-item flex-center-space-between border">
              <p class="hours">13h00 – 14h00/15h00</p>
              <p>Sortie au parc ou sieste</p>
            </div>
            <div class="daylist-item flex-center-space-between border">
              <p class="hours">14h30 – 16h30</p>
              <p>Travail libre (chacun se réveille à son rythme)</p>
            </div>
            <div class="daylist-item flex-center-space-between border">
              <p class="hours">16h30 – 16h35</p>
              <p>Départ des enfants</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper dots" id="prog-classe-elementaire">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="text-center">

          <h2>La Classe Élémentaire</h2>

          <div class="citation">
            <h3>6 à 9 ans</h3>
          </div>

          <h3 class="opening-date">Ouverture en Septembre 2020</p>

        </div>
      </div>
    </div>
  </div>
</div>
