<div class="wrapper leaf" id="subscription-success">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="success-title text-center">
          <h1>Votre demande</h1>
          <h1>a bien été enregistrée !</h1>
        </div>
        <div class="success-text text-center">
          <h3>Un mail de confirmation</h3>
          <h3>vient de vous être envoyé.</h3>
        </div>
        <div class="flex-center-center">
          <%= link_to root_path do %>
            <button class="btn btn-primary">Retour à l'accueil</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
