#dashboard_admin {
  min-height: calc(100vh - 140px);
  #dashboard_admin_search {
    margin-bottom: 20px;
    input {
      border: 1px solid $light-blue;
      text-align: left;
      font-weight: normal;
    }
    .btn {
      margin-top: 0;
    }
  }
  .sub-card {
    border: 1px solid $light-blue;
    border-radius: $r-md;
    padding: 0 20px 8px 20px;
    margin-bottom: 10px;
    background-color: white;
  }
  .sub-body {
  }
  .sub-footer {
    border-top: 1px solid $light-blue;
    padding-top: 10px;
    margin-top: 20px;
  }
  .sub-info {
    flex-grow: 1;
  }
  .sub-date {
    p {
      display: inline;
    }
  }
  .child {
    margin-top: 20px;
    h3, p {
      display: inline-block;
    }
    h3 {
      margin-right: 30px;
    }
  }
  .parent {
    width: 100%;
    margin-top: 20px;
    padding-right: 50px;
    border-left: 1px solid $light-blue;
    padding-left: 5px;
  }
  .sub-links {
    // height: inherit;
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .btn {
    width: 200px;
    margin-top: 17px;
    &:first-child {
      margin-top: 0;
    }
  }
  .modal-content {
    border-radius: $r-md;
  }
  .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
    .modal-title {
      font-weight: 600;
    }
    .close {
      position: absolute;
      top: 25px;
      right: 20px;
      font-size: 27px;
      font-weight: bold;
      line-height: 0;
      color: $blue;
    }
  }
  .modal-body {
    p {
      font-weight: 600;
      text-align: center;
    }
  }
  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding-top: 30px;
    &:before,
    &:after {
      display: none;
    }
    button {
      width: 210px;
    }
    .btn-primary {}
  }
}
