#dashboard_admin {
  min-height: calc(100vh - 140px);
  padding: 30px 0;
  #dashboard_admin_search {
    margin-bottom: 30px;
    input {
      border: 1px solid $light-blue;
      text-align: left;
      font-weight: normal;
    }
    .btn-group {
      flex-grow: 1;
      &.btn-group-justified {
        padding: 0 10px;
      }
    }
    .btn {
      margin-top: 0;
    }
    .btn:hover,
    .btn:active,
    .btn:focus {
      background-color: $yellow;
      color: $blue;
    }
    #step-select {
      height: 37px;
    }
  }
  .sub-card {
    margin-bottom: 10px;
    background-color: white;
  }
  .sub-body {
    border-top: 1px solid $light-blue;
    border-left: 1px solid $light-blue;
    border-right: 1px solid $light-blue;
    border-radius: $r-md $r-md 0 0;
    position: relative;
  }
  .sub-date {
    width: calc(24.9% - 40px);
    float: right;
    margin: 20px;
    padding: 10px;
    border-radius: $r-sm;
    border: 1px solid $light-blue;
    .sub-update {
      margin-top: 10px;
    }
  }
  .sub-infos {
    width: 75%;
  }
  .children,
  .parents {
    width: 100%;
  }
  .children {
    margin-top: 20px;
  }
  .parents {
    padding-bottom: 20px;
    padding-top: 10px;
    div {
      display: inline-block;
    }
  }
  .child {
    h3, div {
      display: inline-block;;
    }
  }
  .child-name {
    width: 50%;
    padding-left: 20px;
  }
  .child-details {
    width: 49%;
    h4 {
      display: inline-block;
    }
    .sex {
      float: right;
    }
  }
  .parent-card {
    width: 49%;
    &:first-child {
      padding-left: 20px;
      width: 50%;
    }
  }
  .parent {
    border-left: 1px solid $light-blue;
    padding-left: 5px;
  }
  .info-link {
    position: absolute;
    border-radius: $r-md $r-md 0 0;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  .sub-actions {
    width: 100%;
    border: 1px solid $light-blue;
    border-radius: 0 0 $r-md $r-md;
    .sub_status {
      display: none;
    }
    .first-action,
    .action,
    .last-action {
      width: 25%;
      height: 35px;
      background-color: $light-gray;
      color: $blue;
      font-weight: normal;
    }
    .first-action {
      border-radius: 0 0 0 $r-md;
    }
    .action {
      border-left: 1px solid $light-blue;
    }
    .last-action {
      border-left: 1px solid $light-blue;
      border-radius: 0 0 $r-md 0;
    }
    .active {
      background-color: $blue;
      color: white;
      font-weight: 600;
      a {
        color: white;
      }
      &:hover {
        background-color: $yellow;
        color: $blue;
      }
      &:hover a {
        color: $blue;
      }
    }
    .waiting {
      background-color: $orange;
      color: white;
      font-weight: 600;
    }
    a, p {
      text-align: center;
    }
  }
  .pagination li {
    display:inline-block;
    padding:5px;
  }
}
