<p>Message de la part de <%= @contact.full_name_parent %></p>
<br>
<p><%= @contact.phone %></p>
<br>
-------------------------------------------------------------------------------
<br>
<p><%= @contact.message %></p>
