<p>Hi <%= @parent_no_valid.first_name %>,</p>

<p>Suite à notre rendez vous je vous informe que votre pré-inscription est validé, pour passer à la prochaine étape merci de remplir le formulaire "link to form". <br>

Dans l'attente de votre réponse <br>

Cordialement <br>

Montessori</p>
