<p>Hi <%= @parent_no_valid.first_name %>,</p>

<p>Votre compte à bien été créé, vos informations de connection sont : <br>
  Identifiant : ......... <br>
  Mdp : ........... <br>

Dans l'attente de votre réponse <br>

Cordialement <br>

Montessori</p>
