<p>Hi <%= @parent_no_valid.first_name %>,</p>

<p> Merci d'avoir remplit le formulaire, vous trouverez ci-joint les documents pour finaliser votre inscription<br>

Dans l'attente de votre réponse <br>

Cordialement <br>

Montessori</p>
