<p>
  Chère famille,<br><br>Nous vous remercions de l’intérêt que vous portez à l’Ecole Montessori Bilingue Les Petites Graines. Nous avons bien reçu votre demande de préinscription. La Direction prendra contact avec vous dans un délai de 48h pour organiser une visite de notre école. A la suite de cette visite, si votre candidature est retenue et que notre école répond à vos attentes, la procédure d’inscription vous sera envoyée par email. <br><br> La Direction <br><br> Les Petites Graines <br><br>Ecole Montessori Bilingue - Montrouge
</p>
