#inscription-welcome {
  svg {
    width: 80%;
  }
}
.inscription-list-label {
  position: relative;
  margin-top: -70px;
  margin-bottom: 30px;
  width: 100%;
  height: 60px;
  svg {
    position: absolute;
    width: 120px;
    height: 60px;
    top: 0;
    left: calc(50% - 60px);
    transform: rotate(180deg);
    path {
      fill: $yellow;
    }
  }
  h2 {
    z-index: 2;
    margin: 0;
  }
}
