#footer {
  padding-bottom: 15px;
  height: 70px;
  background-color: $light-gray;
  .footer-title {
    margin: 37.5px 0 22.5px 10px;
    p {
      margin: 0;
    }
  }
}
.footer-links  {
  margin: 28.5px 0 13.5px 0px;
  .footer-link {
    a {
      margin-right: 10px;
    }
  }
  .footer-social-network {
    // padding: 20px
  }
}

