#footer {
  padding: 0 30px;
  height: 70px;
  background-color: $light-gray;
  .footer-title p {
    margin: 0;
  }
}
.footer-links  {
  .footer-link {
    a {
      margin-right: 20px;
    }
  }
  .footer-social-network {
    height: 35px;
  }
}
@media screen and (max-width: 920px) {

}
@media screen and (min-width: 920px) {

}
