/* Main navbar */
.logo{
  width:20%;
  height:10%;
}
.navbar-montessori {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  position: fixed;
  width: 100%;
  margin-top: -70px;
  z-index: 3;
  background: $light-gray;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  .btn-primary {
    color: $light-gray;
    &:hover {
      background-color: $yellow;
      color: $blue;
    }
  }
  .btn-yramirp {
    background-color: $yellow;
    color: $blue;
    &:hover {
      background-color: $blue;
      color: $light-gray;
    }
  }
}

/* Logo */
.navbar-montessori-brand {
  h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 5px 0;
    text-align: left;
  }
  &:hover {
    text-decoration: none;
    color: $red;
  }
}
//Responsive menus
@media screen and (max-width: 1329.98px) {
  .navbar-montessori-right {
    display: none;
  }
  .navbar-montessori-item {
    display: block;
  }
}
@media screen and (min-width: 1330px) {
  .navbar-montessori-right {
    display: block;
  }
  .navbar-montessori-item {
    display: none;
  }
}
//Title Responsive
@media screen and (max-width: 319.98px) {
  .navbar-montessori-brand h2 {
    font-size: 22px;
    width: 150px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479.98px) {
  .navbar-montessori-brand h2 {
    font-size: 26px;
  }
}
@media screen and (min-width: 480px) {
  .navbar-montessori-brand h2 {
    font-size: 36px;
  }
}

/* Right section */
.navbar-montessori-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn-yramirp {
    margin-left: 5px;
  }
}

/* Basic navbar item */
.navbar-montessori-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-montessori-link {
  height: 50px;
  font-size: 19px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.navbar-montessori-link:hover {
  color: $red;
  text-decoration: none;
}
#ecole,
#pedagogie,
#ambiances,
#informations,
#prices,
#contact {
  &:focus {
    text-decoration: none;
    color: $blue;
    border: none;
    outline: none;
    box-shadow: none;
  }
}
#ecole.active,
#pedagogie.active,
#ambiances.active,
#informations.active,
#prices.active,
#contact.active {
  color: $red;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
}
#ecole.active {
  background-image: url(asset-path("navbar/ecole-circle.svg"));
}
#pedagogie.active {
  background-image: url(asset-path("navbar/pedagogie-circle.svg"));
}
#ambiances.active {
  background-image: url(asset-path("navbar/ambiances-circle.svg"));
}
#informations.active {
  background-image: url(asset-path("navbar/infos-circle.svg"));
}
#prices.active {
  background-image: url(asset-path("navbar/prices-circle.svg"));
}
#contact.active {
  background-image: url(asset-path("navbar/contact-circle.svg"));
}

/* Dropdown menu */
.dropdown-menu-btn {
  position: relative;
  width: 80px;
  height: 40px;
  .dropdown-menu-btn-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 40px;
    svg path {
      fill: $yellow;
    }
    p {
      z-index: 2;
      padding-bottom: 5px;
    }
  }
  .demi-rond-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);
  }
}
.dropdown {
  position: initial;
}
.dropdown-open {
  padding: 0;
  width: 80px;
  height: 70px;
}
.navbar-montessori-dropdown-menu {
  margin: 0 20px;
  top: 70px;
  width: calc(100% - 40px);
  padding: 30px 30px 0 30px;
  box-shadow: none;
  border-top: none;
  border-left: 1px solid $light-blue;
  border-right: 1px solid $light-blue;
  border-bottom: 1px solid $light-blue;
  background-color: rgba(255, 255, 255, 0.92);
  border-radius: 0 0 10px 10px;
}
.navbar-montessori-dropdown-menu li > a {
  text-align: center;
  transition: color 0.3s ease;
  color: $blue;
  font-size: 18px !important;
  font-weight: 600;
  padding: 0;
  height: auto;
  margin-bottom: 15px;
}
.navbar-montessori-dropdown-menu li {
  border: none;
}
.navbar-montessori-dropdown-menu li > a:hover,
.navbar-montessori-dropdown-menu li > a.active {
  background: transparent !important;
  color: $red !important;
}
