/* Main navbar */

.navbar-montessori {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  position: fixed;
  width: 100%;
  margin-top: -70px;
  z-index: 3;
  background: $light-gray;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

/* Logo */
.navbar-montessori-brand {
  h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 5px 0;
  }
  &:hover {
    text-decoration: none;
    color: $red;
  }
}
@media screen and (max-width: 320px) {
  .navbar-montessori-brand h2 {
    font-size: 22px;
    width: 150px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-montessori-brand h2 {
    font-size: 26px;
  }
}
@media screen and (min-width: 480px) {
  .navbar-montessori-brand h2 {
    font-size: 36px;
  }
}

/* Right section */
.navbar-montessori-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-montessori-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-montessori-link {
  height: 50px;
  font-size: 19px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.navbar-montessori-link:hover {
  color: $red;
  text-decoration: none;
}
#root.active,
#programmes.active,
#informations.active,
#tarifs.active,
#contact.active {
  color: $red;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
}
#root.active {
  background-image: url(asset-path("navbar/ecole-circle.svg"));
}
#programmes.active {
  background-image: url(asset-path("navbar/programmes-circle.svg"));
}
#informations.active {
  background-image: url(asset-path("navbar/infos-circle.svg"));
}
#tarifs.active {
  background-image: url(asset-path("navbar/tarifs-circle.svg"));
}
#contact.active {
  background-image: url(asset-path("navbar/contact-circle.svg"));
}

/* Dropdown menu */
.dropdown-menu-btn {
  position: relative;
  width: 80px;
  height: 40px;
  .dropdown-menu-btn-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 40px;
    svg path {
      fill: $yellow;
    }
    p {
      z-index: 2;
      padding-bottom: 5px;
    }
  }
  .demi-rond-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);
  }
  // &:hover {
  //   margin-top: 10px;
  // }
}
.dropdown {
  position: initial;
}
.dropdown-open {
  padding: 0;
  width: 80px;
  height: 70px;
}
.navbar-montessori-dropdown-menu {
  margin: 0 20px;
  top: 70px;
  width: calc(100% - 40px);
  padding: 30px 30px 0 30px;
  box-shadow: none;
  // border-top: 1px solid $light-blue;
  // border-left: none;
  // border-right: none;
  // border-bottom: none;
  border-top: none;
  border-left: 1px solid $light-blue;
  border-right: 1px solid $light-blue;
  border-bottom: 1px solid $light-blue;
  background-color: rgba(255, 255, 255, 0.92);
  border-radius: 0 0 10px 10px;
}
.navbar-montessori-dropdown-menu li > a {
  text-align: center;
  transition: color 0.3s ease;
  color: $blue;
  font-size: 18px !important;
  font-weight: 600;
  padding: 0;
  height: auto;
  margin-bottom: 30px;
}
.navbar-montessori-dropdown-menu li > a:hover,
.navbar-montessori-dropdown-menu li > a.active {
  background: transparent !important;
  color: $red !important;
}
// .navbar-montessori-dropdown-menu:before {
//   content: ' ';
//   height: 10px;
//   width: 10px;
//   position: absolute;
//   right: 36px;
//   top: -6px;
//   background-color: $yellow;
//   transform: rotate(45deg);
//   border-left: 1px solid #E6E6E6;
//   border-top: 1px solid #E6E6E6;
// }
