.nav {
  height: 80px;
  width: 100%;
}
.nav-item {
  transition-property: margin-top;
  transition-duration: 0.3s;
  a:hover, a:focus {
    text-decoration: none;
    color: $blue;
  }
  .nav-link {
    height: 80px;
    width: 120px;
    position: relative;
  }
  .demi-rond {
    position: absolute;
    top: 0;
    left: 0;
  }
  .tab-extension {
    position: absolute;
    top: 60px;
    width: 120px;
    height: 20px;
    background-color: $yellow;
  }
  svg path {
    fill: $yellow;
  }
  p {
    margin: 10px 0 0 0;
    z-index: 2;
  }
  &:hover {
    margin-top: -20px;
    p {
      color: $blue;
    }
  }
}
.nav-item.active {
  svg path {
    fill: $light-gray;
  }
  .tab-extension {
    background-color: $light-gray;
  }
}
.tab-content-container {
  position: relative;
  margin-top: -20px;
}
