.nav {
  height: 80px;
  width: 100%;
}
.nav-item {
  a:hover, a:focus {
    text-decoration: none;
    color: $blue;
  }
  .nav-link {
    height: 60px;
    width: 120px;
    position: relative;
  }
  .demi-rond {
    position: absolute;
    top: 0;
    left: 0;
  }
  .tab-extension {
    width: 120px;
    height: 0px;
    background-color: $yellow;
  }
  svg path {
    fill: $yellow;
  }
  p {
    margin: 25px 0 0 0;
    z-index: 2;
  }
  &:hover {
    p {
      color: $blue;
    }
  }
}
.nav-item.active {
  svg path {
    fill: $light-gray;
  }
  .tab-extension {
    background-color: $light-gray;
  }
}
