#user-nav-container {
  height: 100%;
  width: 200px;
  background-color: $light-gray;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  .admin-link {
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid $light-blue;
    &:hover,
    &.active {
      background-color: $blue;
      color: $light-gray;
    }
  }
  h3 {
    font-weight: 600;
  }
  .user-link {
    height: 35px;
    padding-left: 20px;
    border-bottom: 1px solid $light-blue;
    &:hover,
    &.active {
      background-color: $blue;
      color: $light-gray;
      font-weight: 600;
    }
  }
  .bottom-link {
    // height: 35px;
    width: 160px;
    position: absolute;
    bottom: 100px;
    left: 20px;
    // margin-left: -80px;
    // border: none;
    // border-radius: $r-sm;
    // background-color: $red;
    // color: white;
    // p {
    //   width: 100%;
    //   text-align: center;
    // }
  }
}
