.calendar .active svg path {
  fill: white
}
.white-tabs-content {
  background: white;
  padding: 20px;
  border-radius: $border-radius-large;
}
.calendar-tabs {
  margin-bottom: $border-radius-large;
}
