//Button
.btn {
  font-weight: 600;
  border: none;
  border-radius: $r-sm;
  &:focus {
    outline: none;
  }
}
.btn-back {
  margin-top: 90px;
  width: 150px;
}
.btn-success {
  font-weight: 600 !important;
}

//Alerts
.alert {
  margin-left: 200px;
  margin-bottom: 0;
}

//Forms
.form-control {
  border-radius: $r-sm;
  box-shadow: none;
  color: $blue;
  border: 1px solid $light-blue;
  &:focus {
    border-color: $yellow;
    box-shadow: inset 0 1px 1px rgba(240, 215, 119, 0.075), 0 0 8px rgba(240, 215, 119, 0.6);
  }
}
textarea.form-control {
  min-height: 150px;
}

//Positions
.no-padding {
  padding: 0 !important;
}
body {
  // margin-left: 200px;
}
.user-wrapper {
  margin-left: 200px;
  min-height: 100vh;
  padding: 30px 50px;
}

//Flex container
.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-end-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.flex-no-center {
  display: flex;
  justify-content: center;
}
.flex-center-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-end-space-between {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.wrap {
  flex-wrap: wrap;
}
.flex-start-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.flex-start-space-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-right-space-around-column {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column
}
.flex-left-space-around-column {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column
}
.flex-center-space-around-column {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column
}
.flex-center-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}
.flex-end-space-between-column {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column
}

//Colors
body {
  color: $blue;
}
a:hover {
  color: $red;
  text-decoration: none;
}
.background-light-gray {
  background-color: $light-gray;
  // border-top: 1px solid #B3C2CE;
  // border-bottom: 1px solid #B3C2CE;
}
a:hover .icon path {
  fill: $red;
}
hr {
  border-color: $light-blue;
}
.border {
  border-top: 1px solid $light-blue;
}

//Title
h1{
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 95px;
  margin-top: 0;
}
h2 {
  font-size: 34px;
  margin: 0 0 30px 0;
  text-align: center;
}
h3 {
  font-size: 26px;
  margin: 0;
  padding: 0;
}
h4 {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}
p {
  margin: 0;
  font-size: 18px;
}
.currency {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
.bold {
  font-weight: 600;
}
ul {
  padding: 0;
  margin: 20px 0;
  list-style: none;
}
li {
  text-align: left;
  padding: 5px;
  width: 100%;
  border-top: 1px solid $light-blue;
  &:first-child {
    border: none;
  }
}
//Box
.box-title {
  background-color: $yellow;
  border-radius: 58px 58px 0 0;
  padding-bottom: 10px;
  padding-top: 20px;
  width: 240px;
  margin: 0 auto;
}
.box {
  border: 1px solid $light-blue;
  padding: 20px;
  border-radius: $r-md;
}

//Border
.dotted {
  border-bottom: 1px dotted $blue;
}
.rounded {
  border-radius: $r-md;
}

//Background pattern
.dots {
  background-color: white;
  background-image: image-url("backgrounds/dots.svg");
  background-position: center;
  background-size: 11px;
}
.triangles {
  background-color: white;
  background-image: image-url("backgrounds/triangles.svg");
  background-position: center;
  background-size: 8px;
}
.texture {
  background-image: image-url("backgrounds/texture.svg");
  background-position: center;
  background-size: 5px;
}
