//Button
.btn {
  font-weight: 600;
  border: none;
}
.btn-primary {
  color: $light-gray;
  &:hover {
    background-color: $yellow;
    color: $blue;
  }
}

//Wrapper
.wrapper {
  padding: 70px 0;
}

//Positions
.padding-20 {
  padding: 20px
}
.no-padding {
  padding: 0 !important;
}

//Flex container
.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-end-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.flex-no-center {
  display: flex;
  justify-content: center;
}
.flex-center-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-center-space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-right-space-around-column {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column
}
.flex-left-space-around-column {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column
}

//Colors
body {
  color: $blue;
}
a:hover {
  color: $red;
  text-decoration: none;
}
.background-light-gray {
  background-color: $light-gray;
}
a:hover .icon path {
  fill: $red;
}

//Title
h1{
  font-size: 40px;
}
h2 {
  font-size: 40px;
  margin: 0 0 30px 0;
}
h3 {
  font-size: 26px;
  margin: 0;
  padding: 10px;
}
h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 600;
}
p {
  margin: 0;
  font-size: 18px;
}

//Border
.dotted {
  border-bottom: 1px dotted $blue;
}

//Background pattern
.hideout {
  background-color: white;
  background-image: url("backgrounds/hideout.svg");
  background-size: 2.5%;
  background-position-y: 10px;
}
.point-stars {
  background-color: white;
  background-image: url("backgrounds/point-stars.svg");
  background-size: 2%;
  background-position-y: 10px;
}
.plus {
  background-color: white;
  background-image: url("backgrounds/plus.svg");
  background-size: 3.5%;
  background-position-y: 10px;
}
.leaf {
  background-color: white;
  background-image: url("backgrounds/leaf.svg");
  background-size: 3.5%;
  background-position-y: 13px;
}
.dots {
  background-color: white;
  background-image: url("backgrounds/dots.svg");
  background-size: 2.8%;
  background-position-y: 6px;
}
