//Typographie
.btn {
  font-weight: 600;
}

//Positions

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-space-around-column {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column
}
.flex-right-space-around-column {
  display: flex;
  align-items: right;
  justify-content: space-around;
  flex-direction: column
}
.flex-left-space-around-column {
  display: flex;
  align-items: left;
  justify-content: space-around;
  flex-direction: column
}

//Colors
body {
  color: $blue;
}
.background-light-gray {
  background-color: $light-gray;
}
